<!--<span>{{cursos}}</span>-->
<div *ngIf="estadoTablaA==false">
    <button mat-raised-button color="primary" (click)="getAlumnos()">Obtener Listado de Alumnos</button>
</div>
<div *ngIf="estadoTablaA==true">
    <button mat-raised-button color="primary" (click)="getAlumnos()">Cerrar Tabla</button>
</div>

<div *ngIf="estadoTablaA==true">
    <h2>Lista de alumnos</h2>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Enrolled</th>
            <th>Course</th>
            <th>Acciones</th>
            <th><button (click)= "registrarAlumno()" class="btn btn-info">Registrar</button></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alumno of alumnos">
            <td>{{alumno.id}}</td>
            <td>{{alumno.name}}</td>
            <td>{{alumno.lastname}}</td>
            <td>{{alumno.age}}</td>
            <td>{{alumno.enrolled}}</td>
            <td>{{alumno.course}}</td>
            <td>
                <button (click)= "actualizarAlumno(alumno.id)" class="btn btn-info">Editar</button>
                <button (click)= "verDetallesAlumno(alumno.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
                <button (click)= "eliminarAlumno(alumno.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
