<h3>Detalles del alumno</h3>
<div>
    <div>
        <label><b>ID : </b> {{ alumno.id }}</label>
    </div>
    <div>
        <label><b>Nombre : </b> {{ alumno.name }}</label>
    </div>
    <div>
        <label><b>Apellido : </b> {{ alumno.lastname }}</label>
    </div>
    <div>
        <label><b>Age : </b> {{ alumno.age }}</label>
    </div>
    <div>
        <label><b>Age : </b> {{ alumno.enrolled}}</label>
    </div>
    <div>
        <label><b>Age : </b> {{ alumno.course }}</label>
    </div>
</div>
